body{
	background:url(../img/colchondenovias.jpg);
	background-size:cover;
	background-position:top center;
}
section{
	width:100vw;
	height:100vh;
}
#tiempo,#fecha{
	font-size:20vh;
	font-weight:bold;
	color:rgba(255,255,255,0.7);
	text-align:center;
	text-shadow:2px 2px #0C4417;
}
#fecha{
	font-size:5vh;
	color:rgba(255,255,255,0.8);
}
#foot{
	position:fixed;
	bottom:0px;
}
#displayOver{
	padding:20px;
	position:absolute;
	background:rgba(255,255,255,0.8);;
	visibility:hidden;
	z-index: 100;
	left:0;
	top:0;
}
#extraCiudades{
	font-weight:bold;
	width:70vw;
	max-height:35vh;
	overflow:auto;
	color:black;
	background:rgba(255,255,255,0.6);
	margin:0 auto;
}
#extraCiudades p{
	float:right;
}
#extraCiudades span{
	font-weight:normal;
}
#extraCiudades div{
	padding:5px;
	width:100%;
}
ul{
	padding:0;
}
li{
	font-size:5vh;
	list-style:none;
}
input{
}
button.glyphicon-globe{
	font-size:10vh!important;
	width:15vh;
	height:15vh;
	margin:0 auto!important;
	border-radius:100%;
	padding:5px;
	top:80vh!important;
}
.glyphicon-remove{
	float:right;
	background: none!important;
	font-size:5vh!important;
}
.glyphicon {
	display:block!important;
	background: rgba(255,255,255,0.5);
	color:#023D02;
	-webkit-transition: -webkit-transform ease-out 0.5s, background 0.2s;/*Efecto en el borde*/
	-moz-transition: -moz-transform ease-out 0.5s, background 0.2s;
	transition: transform ease-out 0.5s, background 0.2s;
}
.glyphicon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.glyphicon:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}
.glyphicon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #023D02, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #023D02, 0 0 0 5px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #023D02, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #023D02, 0 0 0 5px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #023D02, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #023D02, 0 0 0 5px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}